.slider {
  float: right;
  width: 20%;
  margin-right: 40%;
}

.pic1 {
  box-shadow: 8px 8px 0px rgba(38,37,38, 1);
  margin-top: 10%;
  margin-bottom: 10%;
}

.pic2 {
  box-shadow: 8px 8px 0px rgba(38,37,38, 1);
  margin-top: 10%;
  margin-bottom: 10%;
}

.pic3 {
  box-shadow: 8px 8px 0px rgba(38,37,38, 1);
  margin-top: 10%;
  margin-bottom: 10%;
}

.pic4 {
  box-shadow: 8px 8px 0px rgba(38,37,38, 1);
  margin-top: 10%;
  margin-bottom: 10%;
}

.pic5 {
  box-shadow: 8px 8px 0px rgba(38,37,38, 1);
  margin-top: 10%;
  margin-bottom: 10%;
}

.btnPhoto {
  display: none;
}

#rightArrow {
  color: black;
  font-size: 2em;
  display: inline;
  margin-right: -75%;
  margin-bottom: 3%;
  float: right;
}

#leftArrow {
  color: black;
  font-size: 2em;
  display: inline;
  margin-bottom: 3%;
  margin-left: 0%;
  float: left;
}
