@import url('https://fonts.googleapis.com/css?family=Cabin');

.slider {
  float: right;
  width: 100%;
  background-color: #FFFFFF;
  height: 60vh;
}

.slide {
  width: 100vw;

}

.imgCon {

}

.pop {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 7%;
  border: 3px solid grey;
  padding: 100px;
  display: inline-block;
  box-shadow: 8px 8px 0px rgba(38,37,38, 1);
  border-radius: 5px;
}


.pic {
  box-shadow: 8px 8px 0px rgba(38,37,38, 1);
  width: 50vw;
  height: 60vh;
  margin-left: 25%;
  margin-top: 5%;
}


.btnPhoto {
  display: none;
}

#rightArrow {
  color: black;
  font-size: 2em;
  display: inline;
  margin-right: 50%;
  margin-bottom: 3%;
  float: right;
}

#leftArrow {
  color: black;
  font-size: 2em;
  display: inline;
  margin-bottom: 3%;
  margin-left: 25%;
  float: left;
}
