

.frontPhoto {
  width: 100vw;
  height: 100vh;
  filter: blur(8px) grayscale(40%);
}

.frontDiv {
  position: relative;
  width: 100%;
  border: 8px solid black;
}

.frontDiv .frontButton {
  position: absolute;
  top: 90%;
  left: 50.25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.words {
  position: absolute;
  top: 5%;
  margin-left: 37%;
  margin-right: 37%;
  text-align: center;
  color: black;
}

.mission {
  position: absolute;
  top: 15%;
  color: black;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 150%;
  font-size: 1.5em;
  text-align: center;
}

.screenprint {
  position: absolute;
  top: 52%;
  left: 44%;
  color: black;
  text-decoration: none;
  font-size: 1.4em;
}

.screendiv a:hover {
  color: blue;
}

.dtg {
  position: absolute;
  top: 58%;
  left: 41%;
  color: black;
  text-decoration: none;
  font-size: 1.4em;
}

.dtgdiv a:hover {
  color: blue;
}

.embroidered {
  position: absolute;
  top: 64%;
  left: 45%;
  color: black;
  text-decoration: none;
  font-size: 1.4em;
}

.embroidereddiv a:hover {
  color: blue;
}

.vinyl {
  position: absolute;
  top: 70%;
  left: 44.5%;
  color: black;
  text-decoration: none;
  font-size: 1.4em;
}

.vinyldiv a:hover {
  color: blue;
}

.graphicdesign {
  position: absolute;
  top: 76%;
  left: 44%;
  color: black;
  text-decoration: none;
  font-size: 1.4em;
}

.graphicdesigndiv a:hover {
  color: blue;
}

@media only screen and (max-width: 1320px){
  .words {
    margin-right: 31%;
    margin-left: 31%;
  }
  .mission {
    font-size: 1.5em
  }

  .screenprint {
    top: 56%;
    left: 42%;
  }

  .dtg {
    top: 62%;
    left: 37%;
  }

  .embroidered {
    top: 68%;
    left: 43%;
  }

  .vinyl {
    top: 74%;
    left: 42.5%;
  }

  .graphicdesign {
    top: 80%;
    left: 42%;
  }

  .frontDiv .frontButton {
    top: 90%;
    left: 49%;
  }
}

@media only screen and (max-width: 1220px){

  .words {
    margin-left: 31%;
    margin-right: 31%;
  }

  .mission {
    font-size: 1.2em;
  }

  .screenprint {
    top: 51%;
    left: 42.5%;
  }

  .dtg {
    top: 55%;
    left: 38%;
  }

  .embroidered {
    top: 59%;
    left: 43.5%;
  }

  .vinyl {
    top: 63%;
    left: 43.5%;
  }

  .graphicdesign {
    top: 67%;
    left: 42.5%;
  }

  .frontDiv .frontButton {
    top: 90%;
    left: 50%;
  }
}

@media only screen and (max-width: 1000px){

  .words {
    margin-left: 25%;
    margin-right: 25%;
    top: 3%;
  }

  .mission {
    font-size: 1.1em;
  }

  .screenprint {
    top: 53%;
    left: 40%;
  }

  .dtg {
    top: 59%;
    left: 33%;
  }

  .embroidered {
    top: 65%;
    left: 41.5%;
  }

  .vinyl {
    top: 71%;
    left: 41%;
  }

  .graphicdesign {
    top: 77%;
    left: 40%;
  }

  .frontDiv .frontButton {
    top: 93%;
    left: 50%;
  }
}

@media only screen and (max-width: 800px){

    .words {
      width: 30%;
      left: 10%;
    }

    .mission {
      font-size: 1em;
      margin-bottom: 10%;
      top: 22%;
    }

    .frontPhoto {
      height: 100vh;
      width: 100vw;
    }

    .screenprint {
      font-size: 1em;
      top: 57%;
      left: 40%;
    }

    .frontDiv .frontButton {
      top: 95%;
      left: 50%;
    }

    .dtg {
      font-size: 1em;
      top: 62%;
      left: 35.5%;
    }

    .embroidered {
      font-size: 1em;
      top: 67%;
    }

    .vinyl {
      font-size: 1em;
      top: 72%;
    }

    .graphicdesign {
      font-size: 1em;
      top: 77%;
    }
}

@media only screen and (max-width: 720px){
  .words {
    width: 30%;
    left: 10%;
    top: 1%;
  }

  .mission {
    font-size: 1em;
    margin-bottom: 10%;
    top: 26%;
  }

  .frontPhoto {
    height: 100vh;
    width: 100vw;
  }

  .screenprint {
    font-size: 1em;
    top: 65%;
    left: 41%;
  }

  .frontDiv .frontButton {
    top: 95%;
    left: 49%;
  }

  .dtg {
    font-size: 1em;
    top: 70%;
    left: 33.5%;
  }

  .embroidered {
    font-size: 1em;
    top: 75%;
    left: 43.5%;
  }

  .vinyl {
    font-size: 1em;
    top: 80%;
    left: 42%;
  }

  .graphicdesign {
    font-size: 1em;
    top: 85%;
    left: 40.5%;
  }
}

@media only screen and (max-width: 665px){
  .words {
    width: 30%;
    left: 10%;
    top: 1%;
  }

  .mission {
    font-size: .8em;
    margin-bottom: 10%;
    top: 23%;
  }

  .frontPhoto {
    height: 100vh;
    width: 100vw;
  }

  .screenprint {
    font-size: 1em;
    top: 65%;
    left: 38%;
  }

  .frontDiv .frontButton {
    top: 95%;
    left: 49%;
  }

  .dtg {
    font-size: 1em;
    top: 70%;
    left: 30.5%;
  }

  .embroidered {
    font-size: 1em;
    top: 75%;
    left: 40.5%;
  }

  .vinyl {
    font-size: 1em;
    top: 80%;
    left: 39%;
  }

  .graphicdesign {
    font-size: 1em;
    top: 85%;
    left: 37.5%;
  }
}

@media only screen and (max-width: 620px){
  .words {
    width: 30%;
    left: 10%;
    top: 1%;
  }

  .mission {
    font-size: .8em;
    margin-bottom: 10%;
    top: 23%;
  }

  .frontPhoto {
    height: 100vh;
    width: 100vw;
  }

  .screenprint {
    font-size: 1em;
    top: 65%;
    left: 38%;
  }

  .frontDiv .frontButton {
    top: 95%;
    left: 49%;
  }

  .dtg {
    font-size: 1em;
    top: 70%;
    left: 30.5%;
  }

  .embroidered {
    font-size: 1em;
    top: 75%;
    left: 40.5%;
  }

  .vinyl {
    font-size: 1em;
    top: 80%;
    left: 39%;
  }

  .graphicdesign {
    font-size: 1em;
    top: 85%;
    left: 37.5%;
  }
}

@media only screen and (max-width: 475px) {

  .words {
    font-size: 1em;
    right: 35%;
  }


  .mission {
    font-size: .01em;
    margin-bottom: 10%;
    top: 15%;
  }

  .frontPhoto {
    height: 100vh;
    width: 100vw;
  }

  .screenprint {
    font-size: .01em;
    top: 55%;
    left: 42%;
  }

  .frontDiv .frontButton {
    top: 90%;
    left: 50%;
  }

  .dtg {
    font-size: .01em;
    top: 60%;
    left: 35.5%;
  }

  .embroidered {
    font-size: .01em;
    top: 65%;
    left: 43.5%;
  }

  .vinyl {
    font-size: .01em;
    top: 70%;
    left: 43%;
  }

  .graphicdesign {
    font-size: .01em;
    top: 75%;
    left: 42.5%;
  }
}
