@import url('https://fonts.googleapis.com/css?family=Cabin');

.head {
  height: 150px;
  background-color: black;
}

.brands {
  text-align: center;
  background-color: black;
  height: 50px;
}

.brandsWord {
  font-size: 1.3em;
  font-family: 'Cabin', sans-serif;
  color: white;
  padding-top: 10px;
}

.btnHead {
  float: left;
  left: 0%;
  margin-right: 90%;
  height: 36px;
  background-color: black;
  width: 25%;
}

.pageBtn {
  float: left;
  height: 36px;
  width: 25%;
  display: inline-block;
  background-color: #0EDBF5;
  font-size: 1em;
  font-family: 'Cabin', sans-serif;
}

.pageBtn:focus, .pageBtn:active, .pageBtn.active, .pageBtn:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.pageBtn1 {
  height: 36px;
  width: 25%;
  display: inline-block;
  margin-left: 1%;
  float: left;
  background-color: #0EDBF5;
  font-size: 1em;
  font-family: 'Cabin', sans-serif;
}
.pageBtn1:focus, .pageBtn1:active, .pageBtn1.active, .pageBtn1:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.pageBtn2 {
  height: 36px;
  width: 25%;
  display: inline-block;
  margin-left: 1%;
  float: left;
  background-color: #0EDBF5;
  font-size: 1em;
  font-family: 'Cabin', sans-serif;
}

.pageBtn2:focus, .pageBtn2:active, .pageBtn2.active, .pageBtn2:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.tsdhead {
  text-align: center;
  color: #09990F;
  font-family: 'Cabin', sans-serif;
  float: left;
  margin-left: 42.5%;
  margin-top: 3%;
}

.auth {
  margin-left: 88%;
  width: 15%;
}

.frontPhoto {
  width: 100vw;
  height: 100vh;
  filter: blur(8px) grayscale(40%);
}

.frontDiv {
  position: relative;
  width: 100%;
  border: 8px solid black;
}

.frontDiv .frontButton {
  position: absolute;
  top: 90%;
  left: 50.25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.words {
  position: absolute;
  top: 5%;
  margin-left: 37%;
  margin-right: 37%;
  text-align: center;
  color: black;
}

.mission {
  position: absolute;
  top: 15%;
  color: black;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 150%;
  font-size: 1.5em;
  text-align: center;
}

.screenprint {
  position: absolute;
  top: 52%;
  left: 44%;
  color: black;
  text-decoration: none;
  font-size: 1.4em;
}

.screendiv a:hover {
  color: blue;
}

.dtg {
  position: absolute;
  top: 58%;
  left: 41%;
  color: black;
  text-decoration: none;
  font-size: 1.4em;
}

.dtgdiv a:hover {
  color: blue;
}

.embroidered {
  position: absolute;
  top: 64%;
  left: 45%;
  color: black;
  text-decoration: none;
  font-size: 1.4em;
}

.embroidereddiv a:hover {
  color: blue;
}

.vinyl {
  position: absolute;
  top: 70%;
  left: 44.5%;
  color: black;
  text-decoration: none;
  font-size: 1.4em;
}

.vinyldiv a:hover {
  color: blue;
}

.graphicdesign {
  position: absolute;
  top: 76%;
  left: 44%;
  color: black;
  text-decoration: none;
  font-size: 1.4em;
}

.graphicdesigndiv a:hover {
  color: blue;
}

.header {
  background-color: white;
  width: 10%;
  height: 50px;
  color: white;
  margin-top: .5%;
}

.shopDiv {
  width: 10%;
  background-color: black;
  height: 50px;
  text-align: center;
}

.shopWord {
  color: white;
  padding-top: 15px;
  font-family: 'Cabin', sans-serif;
}

/* Dropdown Button */
.dropbtn {
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropbtn:focus, .dropbtn:active, .dropbtn.active, .dropbtn:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #0044E9;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #0044E9;
}


@media only screen and (max-width: 1320px){
  .words {
    margin-right: 31%;
    margin-left: 31%;
  }
  .mission {
    font-size: 1.5em
  }

  .screenprint {
    top: 56%;
    left: 42%;
  }

  .dtg {
    top: 62%;
    left: 37%;
  }

  .embroidered {
    top: 68%;
    left: 43%;
  }

  .vinyl {
    top: 74%;
    left: 42.5%;
  }

  .graphicdesign {
    top: 80%;
    left: 42%;
  }

  .frontDiv .frontButton {
    top: 90%;
    left: 49%;
  }
}

@media only screen and (max-width: 1220px){

  .words {
    margin-left: 31%;
    margin-right: 31%;
  }

  .mission {
    font-size: 1.2em;
  }

  .screenprint {
    top: 51%;
    left: 42.5%;
  }

  .dtg {
    top: 55%;
    left: 38%;
  }

  .embroidered {
    top: 59%;
    left: 43.5%;
  }

  .vinyl {
    top: 63%;
    left: 43.5%;
  }

  .graphicdesign {
    top: 67%;
    left: 42.5%;
  }

  .frontDiv .frontButton {
    top: 90%;
    left: 50%;
  }
}

@media only screen and (max-width: 1000px){

  .words {
    margin-left: 25%;
    margin-right: 25%;
    top: 3%;
  }

  .mission {
    font-size: 1.1em;
  }

  .screenprint {
    top: 53%;
    left: 40%;
  }

  .dtg {
    top: 59%;
    left: 33%;
  }

  .embroidered {
    top: 65%;
    left: 41.5%;
  }

  .vinyl {
    top: 71%;
    left: 41%;
  }

  .graphicdesign {
    top: 77%;
    left: 40%;
  }

  .frontDiv .frontButton {
    top: 93%;
    left: 50%;
  }
}

@media only screen and (max-width: 800px){

    .words {
      width: 30%;
      left: 10%;
    }

    .mission {
      font-size: 1em;
      margin-bottom: 10%;
      top: 22%;
    }

    .frontPhoto {
      height: 100vh;
      width: 100vw;
    }

    .screenprint {
      font-size: 1em;
      top: 57%;
      left: 40%;
    }

    .frontDiv .frontButton {
      top: 95%;
      left: 50%;
    }

    .dtg {
      font-size: 1em;
      top: 62%;
      left: 35.5%;
    }

    .embroidered {
      font-size: 1em;
      top: 67%;
    }

    .vinyl {
      font-size: 1em;
      top: 72%;
    }

    .graphicdesign {
      font-size: 1em;
      top: 77%;
    }
}

@media only screen and (max-width: 720px){
  .words {
    width: 30%;
    left: 10%;
    top: 1%;
  }

  .mission {
    font-size: 1em;
    margin-bottom: 10%;
    top: 26%;
  }

  .frontPhoto {
    height: 100vh;
    width: 100vw;
  }

  .screenprint {
    font-size: 1em;
    top: 65%;
    left: 41%;
  }

  .frontDiv .frontButton {
    top: 95%;
    left: 49%;
  }

  .dtg {
    font-size: 1em;
    top: 70%;
    left: 33.5%;
  }

  .embroidered {
    font-size: 1em;
    top: 75%;
    left: 43.5%;
  }

  .vinyl {
    font-size: 1em;
    top: 80%;
    left: 42%;
  }

  .graphicdesign {
    font-size: 1em;
    top: 85%;
    left: 40.5%;
  }
}

@media only screen and (max-width: 665px){
  .words {
    width: 30%;
    left: 10%;
    top: 1%;
  }

  .mission {
    font-size: .8em;
    margin-bottom: 10%;
    top: 23%;
  }

  .frontPhoto {
    height: 100vh;
    width: 100vw;
  }

  .screenprint {
    font-size: 1em;
    top: 65%;
    left: 38%;
  }

  .frontDiv .frontButton {
    top: 95%;
    left: 49%;
  }

  .dtg {
    font-size: 1em;
    top: 70%;
    left: 30.5%;
  }

  .embroidered {
    font-size: 1em;
    top: 75%;
    left: 40.5%;
  }

  .vinyl {
    font-size: 1em;
    top: 80%;
    left: 39%;
  }

  .graphicdesign {
    font-size: 1em;
    top: 85%;
    left: 37.5%;
  }
}

@media only screen and (max-width: 620px){
  .words {
    width: 30%;
    left: 10%;
    top: 1%;
  }

  .mission {
    font-size: .8em;
    margin-bottom: 10%;
    top: 23%;
  }

  .frontPhoto {
    height: 100vh;
    width: 100vw;
  }

  .screenprint {
    font-size: 1em;
    top: 65%;
    left: 38%;
  }

  .frontDiv .frontButton {
    top: 95%;
    left: 49%;
  }

  .dtg {
    font-size: 1em;
    top: 70%;
    left: 30.5%;
  }

  .embroidered {
    font-size: 1em;
    top: 75%;
    left: 40.5%;
  }

  .vinyl {
    font-size: 1em;
    top: 80%;
    left: 39%;
  }

  .graphicdesign {
    font-size: 1em;
    top: 85%;
    left: 37.5%;
  }
}

@media only screen and (max-width: 475px) {

  .words {
    font-size: 1em;
    right: 35%;
  }


  .mission {
    font-size: .01em;
    margin-bottom: 10%;
    top: 15%;
  }

  .frontPhoto {
    height: 100vh;
    width: 100vw;
  }

  .screenprint {
    font-size: .01em;
    top: 55%;
    left: 42%;
  }

  .frontDiv .frontButton {
    top: 90%;
    left: 50%;
  }

  .dtg {
    font-size: .01em;
    top: 60%;
    left: 35.5%;
  }

  .embroidered {
    font-size: .01em;
    top: 65%;
    left: 43.5%;
  }

  .vinyl {
    font-size: .01em;
    top: 70%;
    left: 43%;
  }

  .graphicdesign {
    font-size: .01em;
    top: 75%;
    left: 42.5%;
  }
}
