@import url('https://fonts.googleapis.com/css?family=Cabin');

#username {
  font-size: 100%;
  color: black;
  font-family: 'Nunito Sans', sans-serif;
}

#signUpPassword {
  font-size: 100%;
  color: black;
  font-family: 'Nunito Sans', sans-serif;
}

.signBtn {
  margin-left: 65%;
}

.signedIn {
  margin-left: 40%;
  word-wrap: break-word;
}

.profilebtn {
  margin-left: 80%;
}

.logoutbtn {
  margin-left: 80%;
}

.signupForm {
  opacity: 1;
}

button {
  font-family: 'Nunito Sans', sans-serif;
}
