#email {
  font-size: 1.2em;
  color: black;
  margin-left: 20%;
}

#signUpPassword {
  font-size: 1.2em;
  color: black;
  margin-left: 17%;
}

.signBtn {
  margin-left: 65%;
}

.signedIn {
  margin-left: 40%;
  word-wrap: break-word;
  margin-top: 10%;
}
